@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<form method="post">

    <label asp-for="InputValue">Enter Value:</label>
    <input asp-for="InputValue" />
    <button type="submit" asp-page-handler="MyButtonClicked">Click Me!</button>
</form>
